.checkout-product {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkout-image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkout-pinfo {
    padding-left: 20px;
    
}

.checkout-name {
    font-size: 17px;
    font-weight: 800;
    background: #111;
    color: #a88734;
}

.checkout-ppricing > button {
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkout-prating {
    display: flex;
}

.checkout-ppricing {

}